.App {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.AppInner{
  max-width: 600px;
  width: 100%;
}
.toDoInput{
  display: block;
  width: 90%;
  font-size: 1.15rem;
  padding: 0.8rem 1.5rem;
  color: #000;
  background-color: #ffdfff;
  border-radius: 0.5rem;
  box-shadow:  0px 0px 4px rgba( 58, 130, 230, 0.75);
  margin-bottom: 1.5rem;
  overflow-x: scroll;
}
button[type='submit']{
  display: block;
  width: 80%;
  text-align: center;
  background-color: pink;
  padding: 1rem 1.2rem;
  color: #ffdfff;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 3px #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: 1px solid blue;
  margin: auto;
}
button{
  padding: .5rem 1.1rem;
  background: rgb(81, 81, 219);
  border: unset;
  border-radius: .6rem;
  color: #fff;
  font-size: .9rem;
}
input:valid ~ button[type='submit']{
  opacity: 1;
}
li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputText{
  padding: .4rem 1rem;
  width: 60%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
outline: none;
border: unset;
background: none;
cursor: initial;
}
input[type=radio], input[type=checkbox] {
  display: none;
}
.bubble{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba( 58, 130, 230, 0.75);
  box-shadow:  0px 0px 4px rgba( 58, 130, 230, 0.75);
}
 .bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background: rgba( 58, 130, 230, 0.75);
  box-shadow:  0px 0px 4px rgba( 58, 130, 230, 0.75);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

 input:checked ~ .bubble::after {
  width: 11px;
  height: 11px;
  opacity: 1;
}
 

