.App {
  text-align: center;
}
button{
  padding: .5rem 1rem;
  background: rgb(81, 81, 219);
  border: unset;
  border-radius: .6rem;
  color: #fff;
  opacity: .4;
  font-size: .8rem;
}
input{
  max-width: 400px;
  width: 100%;
  padding: .4rem .8rem;
  border-radius: .3rem;
  /* outline: none; */
  border: 1px solid blue;
  caret-color: rgb(162, 162, 226);
  margin-right: 10px;
  font-size: .9rem;
}
input:valid ~ button{
  opacity: 1;
}
.btnOne{
  padding: .7rem 1.1rem;
}


