.App {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.AppInner{
  max-width: 600px;
  width: 100%;
}
.toDoInput{
  display: block;
  width: 90%;
  font-size: 1.15rem;
  padding: 0.8rem 1.5rem;
  color: #000;
  background-color: #ffdfff;
  border-radius: 0.5rem;
  box-shadow: -2px -2px 0px 1px  black;
  margin-bottom: 1.5rem;
  overflow-x: scroll;
}
button[type='submit']{
  display: block;
  margin: auto;
  width: 80%;
  background-color: red;
  font-size: 1.1em;
  opacity: .4;
}
button{
  padding: .5rem 1.1rem;
  background: rgb(81, 81, 219);
  border: unset;
  border-radius: .6rem;
  color: #fff;
  font-size: .9rem;
}
input:valid ~ button[type='submit']{
  opacity: 1;
}
.btnOne{
  padding: .7rem 1.1rem;
}


